<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         backupGlobals="false" bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">

  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="DATABASE_URL" value="sqlite:///:memory:"/>
    <server name="KERNEL_CLASS" value="App\Kernel" />
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>

  <extensions>
    <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
  </extensions>
</phpunit>
